@import 'common';

#this-bank-app .logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
  line-height: 32px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

ul.ant-menu {
  margin: 0;
}

.green {
  display: inline;
  color: rgb(135, 208, 104);
}